@charset "utf-8";

/* --------------------
 product.css
----------------------- */
.product_borderBox{
  border: solid 8px #ededed;
}
.product_borderBox .text-box{
  padding: 15px 30px 30px;
}
.product_borderBox .product_image{
  padding: 0 30px;
}
.product_borderBox .product_image img{
  width: 100%;
  height: auto;
}

/* related */
.relatedList {
  width: 100%;
  margin: 0 auto;
  /*display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;*/
}
.relatedList_item {
  float: left;
  text-align: center;
  width: 33.333%;
  text-align: center;
}
.relatedList_item:nth-child(3n+1){
  clear: left;
}
.relatedList_item a {
  display: block;
  padding: 10% 0;
}
.relatedList_item > a:hover {
  opacity: .7;
}
.relatedList_item img {
  width: 69px;
}

/* catalog */
.catalog {
  padding: 10px 30px 50px;
  background-color: #f0f0f0;
}
.catalog_DlButton {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
.catalog_DlButton > a {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 15px 10%  15px 20%;
  background: #fff url(/common/images/icon_pdf_01.gif) no-repeat 10% 1.5rem;
}
